
<br>
<br>
   <style>
   </style> 
    
    <div class="center">
        <h1 t class="text-black">Welcome to the App</h1>
        
    </div>
    <p>
        <h4 text-align=center class="text-black">To Do List: </h4>
    
        <p>
       I made a todo list like my pa04 did.
    </p>
    </p>
    <p>
        <h4 text-align=center class="text-black">Transaction: </h4>
        
       The transaction is based on the pa03 and pa04.
    </p>
    
    <p>
        <h4 text-align=center class="text-black">TextTrove: </h4>
        
        It's an engine plugged into ChatGpt, where you can type in prompts and get answers.
    </p>
        


  
    
