<br>
<br>
   <style>
   .center {
    text-align: center;
    }</style> 
    
    <div class="center">
        <h1 text-align= center class="text-black">Welcome to the App</h1>
        <br>
        <br>
        <br>
        <br>
    </div>