<br>
<br>
   <style>
   .center {
    text-align: center;
    }</style> 
    
    <div class="center">
        <h1 text-align= center>ChatGpt Search Engine</h1>
        <p text-align = center> 
        <font size = "4">
         Generate interesting ideas for your text-based needs through prompt engineering
        </font>  
        </p>
    
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="center">
        
        <a class
                href="/index/engine"> Search Here</a>
